<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Los intocables Red Blend</title>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="product-detail">
            <div class="img-product"><img src="/images/los-intocables.png" alt="imagen producto"></div>
            <div class="details">
                <h5 class="product-name">Los intocables</h5>
                <p class="grape">Malbec</p>
                <p class="price">$5.049,81</p>
                <p class="stock">Stock disponible</p>
                <div class="purchase-quantity">
                    <span class="quantity-buttom"> - </span> <span class="quantity"> 1 </span> <span class="quantity-buttom"> + </span>
                </div>
                <button class="purchase-buttom" href="">Comprar ahora</button>
                <button class="cart-buttom" href="">Agregar al carrito</button>
            </div>
        </div>
        <div class="description">
            <h5>Características</h5>
            <p ><span class="category">VARIETAL: </span><span>Malbec</span></p>
            <p ><span class="category">BODEGA: </span><span>Finca Las Moras</span></p>
            <p ><span class="category">AÑADA: </span><span>2018</span></p>
            <p ><span class="category">TIPO DE BARRICA: </span><span>roble bourbon</span></p>
            <p ><span class="category">TIEMPO DE BARRICA: </span><span>12 meses</span></p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>