<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Carrito de compras</title>
        <link rel="stylesheet" href="/css/styles-productCart.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <h3>MI CARRITO</h3>
            <div class="cart-details">
                <section class="cart">
                        <div class="purchase-item-detail">
                            <div class="img-product img"><img src="/images/products/los-intocables.png" alt="imagen producto"></div>
                            <div class="purchase-detail">
                                <h5 class="name-product">Los intocables</h5>
                                <div class="purchase-quantity">
                                    <span class="quantity-buttom"> - </span> <span class="quantity"> 1 </span> <span class="quantity-buttom"> + </span>
                                </div>
                                <p class="price">$5.049,81</p>
                                <a class="purchase-buttom" href="">Comprar ahora</a>
                                <a class="delete-buttom" href="">Eliminar</a>
                            </div>
                        </div>
                        <div class="purchase-item-detail">
                            <div class="img-product"><img src="/images/products/luigi-bosca.png" alt="imagen producto"></div>
                            <div class="purchase-detail">
                                <h5 class="name-product">Luigi Bosca</h5>
                                <div class="purchase-quantity">
                                    <span class="quantity-buttom"> - </span> <span class="quantity"> 1 </span> <span class="quantity-buttom"> + </span>
                                </div>
                                <p class="price">$4.500</p>
                                <a class="purchase-buttom" href="">Comprar ahora</a>
                                <a class="delete-buttom" href="">Eliminar</a>
                            </div>
                        </div>               
                </section>
                <section class="summary">
                    <h4 class="title-section">RESUMEN DE COMPRA</h4>
                    <div class="price-summary">
                        <span class="info-summary">Productos (2)</span><span class="price">$9.549,81</span >
                    </div>
                    <div class="price-summary">
                        <span class="info-summary">Total:</span> <span class="price"> $9.549,81</span>
                    </div>
                    <button type="submit" class="purchase-buttom">Comprar</button>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>
