<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de compras</title>
        <script src="https://kit.fontawesome.com/f2650b748c.js" crossorigin="anonymous"></script>
        <!-- ICONOS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
        <!-- FUENTES DE GOOGLE -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
          </style>        
        <!-- NORMALIZE -->
        <link rel="stylesheet" href="/css/normalize.css">
        <!-- ESTILOS PROPIOS -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/styles-productCart.css">
    </head>
    <body>
            <header class="header-1">
            <h2 class="logo">NINNA</h2>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
                <div class="drop-menu">
                    <ul>
                        <li>
                            <h3>Categorias</h3>
                        </li>
                        <li><a href="#">Vinos</a></li>
                        <li><a href="#">Whiskies</a></li>
                        <li><a href="#">Spirits</a></li>
                        <li><a href="#">Cervezas</a></li>
                        <li><a href="#">Combos</a></li>
                        <li><a href="#">Promociones</a></li>
                    </ul>
                </div>
            </div>
    
            <!-- <div class="search-container"> -->
                <input type="search" id="search-input" placeholder="Buscar...">
            <!-- </div> -->
            <a href="/login" class="box-login"><div class="icon-user">
                <i class="fa-solid fa-user"></i>
                <p>Login</p>
            </div></a>
            <a href="/productCart" class="box-cart"><div class="cart-shopping">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>Cart</p>
            </div></a>
        </header>
        <header class="header-2">
            <nav class="navigation">
                <div><a href="#">Vinos</a></div>
                <div><a href="#">Whiskies</a></div>
                <div><a href="#">Spirits</a></div>
                <div><a href="#">Cervezas</a></div>
                <div><a href="#">Combos</a></div>
                <div><a href="#">Promociones</a></div>
            </nav>
        </header>
    
    
        <script>
            const burgerBtn = document.querySelector('.burger-menu')
            const burgerBtnIcon = document.querySelector('burger-menu i')
            const dropDownMenu = document.querySelector('.drop-menu')
    
            burgerBtn.onclick = function () {
                dropDownMenu.classList.toggle('open')
                const isOpen = dropDownMenu.classList.contains('open')
    
                burgerBtnIcon.classList = isOpen
                    ? 'fa-solid fa-xmark'
                    : 'fa-solid fa-bars'
            }
        </script>
        <main>
            <h3>MI CARRITO</h3>
            <section class="carrito">
                    <div class="detalle-compra">
                        <div class="img-producto"><img src="/images/los-intocables.png" alt="imagen producto"></div>
                        <h5 class="nombre-producto">Los intocables</h5>
                        <div class="cantidad-compra">
                            <span class="boton-cantidad"> - </span> <span class="cantidad"> 1 </span> <span class="boton-cantidad"> + </span>
                        </div>
                        <p class="precio">$5.049,81</p>
                        <a class="boton-compra" href="">Comprar ahora</a>
                        <a class="boton-eliminar" href="">Eliminar</a>
                    </div>
                    <div class="detalle-compra">
                        <div class="img-producto"><img src="/images/luigi-bosca.png" alt="imagen producto"></div>
                        <h5 class="nombre-producto">Luigi Bosca</h5>
                        <div class="cantidad-compra">
                            <span class="boton-cantidad"> - </span> <span class="cantidad"> 1 </span> <span class="boton-cantidad"> + </span>
                        </div>
                        <p class="precio">$4.500</p>
                        <a class="boton-compra" href="">Comprar ahora</a>
                        <a class="boton-eliminar" href="">Eliminar</a>
                    </div>               
            </section>
            <section class="resumen">
                <h4 class="titulo-seccion">RESUMEN DE COMPRA</h4>
                <div class="resumen-precio">
                    <span class="resumen-info">Productos (2)</span><span class="precio">$9.549,81</span >
                </div>
                <div class="resumen-precio">
                    <span class="resumen-info">Total:</span> <span class="precio"> $9.549,81</span>
                </div>
                <button type="submit" class="boton-compra">Comprar</button>
            </section>
        </main>
        <footer>
            <h2 class="logo">NINNA</h2>
            <div class="informacion">
                <h4>Categorías</h4>
                <p><a href="#">Vinos</a></p>
                <p><a href="#">Whiskies</a></p>
                <p><a href="#">Spirits</a></p>
                <p><a href="#">Cervezas</a></p>
                <p><a href="#">Promociones</a></p>
            </div>
            <div class="informacion"> 
            <h4> Ayuda </h4>
            <p><a href="">Medios de pago</a></p>
            <p><a href="">Envíos</a></p>
            <p><a href="">Preguntas frecuentes</a></p>
            <p><a href="">Arrepentimiento</a></p> 
            </div>
            <div class="informacion">
                <h4>Contacto</h4>
                <p><a href="">correo@email.com</a></i></p>
                <div>
                    <span><a href=""><i class="fab fa-instagram"></i></a></span>
                    <span><a href=""><i class="fab fa-facebook"></i></a></span>
                    <span><a href=""><i class="fab fa-whatsapp"></i></i></a></span>
                </div>
            </div>
            <div class="informacion">
                <h4>Suscribirse</h4>
                <input type="email" placeholder="Ingresá tu correo">
                <button class="suscripcion">SUSCRIBIRSE</button>
            </div>
        </footer>
    </body>
</html>
