/* HEADER START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #820000;
    /* background: url(/images/cropped-1920-1080-443997.jpg) no-repeat;  */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* MAIN START */
div.suggestions,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    display: none;
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.store {
    font-size: 16px;
    font-weight: normal;
}

h3,
.store {
    color: #000000;
}

.store {
    margin-top: 20px;
}

section.carrusel img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    border-radius: 5%;
}

main section article img {
    width: 20%;
    display: block;
    margin: auto;
    padding: 10px;
}

main section article .discount {
    display: none;
    color: #39b54a;
}

main section h3 {
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.grape {
    color: #820000;
}

section div.products  {
    width: 80%;
    margin: auto;
}

main
/* MAIN END */
/* FOOTER START */

footer {
    background-color: #fff;
}

/* FOOTER END */

/* MEDIAQUERIE PHONE START */

@media (max-width: 460px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

/* MEDIAQUERIE PHONE END */

/* MEDIAQUERIE TABLET START */

@media(min-width: 768px){
    section.categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section div.products {
        width: 50%;
    }
}

/* MEDIAQUERIE TABLET END */

/* MEDIAQUERIE DESKTOP START */

@media (min-width: 1024px) {
    
}

/* MEDIAQUERIE DESKTOP END */

/* MEDIAQUERIE DESKTOP HD START */

@media (min-width: 1400px) {
    
}

/* MEDIAQUERIE DESKTOP HD END */
