
.product {
    background-color: #ffffff;
    margin: auto;
}

.description {
    background-color: #ffffff;
    margin: 20px;
    border-radius: 15px;
    border: solid #000 0.5px;
    width: 80%;
    padding: 10px 5px;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    border: solid #000 0.5px;
}

img {
    width: 30%;
}

.img-product {
    margin: auto;
    justify-content: center;
}

h5.product-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

.quantity-buttom, 
.quantity {
    display: inline-block;
    border: solid 1px #666;
    padding: 5px;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 10px;
}

.quantity-buttom {
    width: 20%;
}

.quantity {
    width: 50%;
}

.purchase-quantity {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price, 
.grape, 
.stock, 
.description > p {
    font-size: 10px;
    line-height: 20px;
}

.purchase-buttom, 
.cart-buttom {
    margin: 5px;
    color: #ffffff;
    display: inline-block;
    width: 90%;
    font-size: 10px;
    line-height: 30px;
    border: none;
    background-color: #820000;
}

.product-buttom {
    color: #ffffff;
    display: inline-block;
    width: 90%;
    font-size: 10px;
    line-height: 30px;
    border: none;
    background-color: #820000;
    width: 40%;
}

.edit-product {
    margin: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

div.edit-product form {
    width: 40%;
}

form button.product-buttom {
    display: flex;
    position: relative;
    width: 93%;
    flex-direction: column;
    align-items: center;
}

h5.product-name, 
.description > h5 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.category {
    width: 120px;
    margin-right: 0px;
    text-align: left;
}

@media (min-width:361px){
    div.product-detail {
        position: relative;
        height: 350px;
        margin: auto;
    }

    div.description {
        margin: 0;
        margin-top: 20px;
    }

    .img-product {
        width: 40%;
        position: absolute;
        left: -20px;
    }

    .description, 
    .product-detail {
        width: 100%;
        margin: 20px;
    }

    h5.product-name, 
    .description > h5 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .quantity-buttom, 
    .quantity {
        display: inline-block;
        border: solid 1px #666;
        padding: 5px;
        background-color: #ffffff;
        font-weight: normal;
        font-size: 14px;
    }
    
    .price, 
    .grape, 
    .stock, 
    .description > p {
        font-size: 14px;
        line-height: 35px;
    }

    .purchase-buttom, 
    .cart-buttom,
    .product-buttom {
        font-size: 14px;
        line-height: 35px;
    }

    .product-buttom {
        width: 45%;
    }

    .details {
        margin-left: 30%;
    }

    .category {
        width: 150px;
        margin: 0;
    }
}

@media (min-width:769px) {
    main {
        margin-top: 130px;
    }

    .details {
        height: 80%;
    }

    div.product-detail {
        height: auto;
        padding: 10px;
    }

    .img-product{
        width: 25%;
        position: absolute;
        left: 10vw;
    }

    h5.product-name, 
    .description > h5 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .price, 
    .grape, 
    .stock, 
    .description > p {
        font-size: 18px;
        line-height: 50px;
        text-align: left;
    }

    .quantity-buttom, 
    .quantity {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .quantity-compra {
        width: 100%;
    }

    .purchase-buttom, 
    .cart-buttom {
        font-size: 16px;
        line-height: 40px;
        margin-bottom: 10px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .product-buttom {
        margin-left: 0;
        margin-right: 0;
    }

    .category {
        width: 250px;
    }
    
    .description {
        width: 50%;
    }

    .information {
        align-items: flex-start;
    }
    
    .information input {
        margin-left: 0;
    }

    .information a {
        color:#f0f0f0;
    }
}