@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

h3 {
    font-size: 16px;
    padding: 8px 0;
    font-weight: bold;
    color: #f0f0f0;
}

main {
    text-align: center;
    margin: 30px 0px;
    padding: 15px;
    font-weight: 600;
}

section.cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.purchase-item-detail {
    background-color: #f0f0f0;
    margin: auto;
    border-radius: 15px;
    margin: 20px;
    border: solid #000 0.5px;
}

div.img-product>img {
    width: 30%;
}

h5.name-product {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

.quantity-buttom,
.quantity {
    display: inline-block;
    border: solid 1px #666;
    padding: 5px;
    background-color: #f0f0f0;
    font-weight: normal;
    font-size: 10px;
}

.quantity {
    width: 50px;
}

.quantity-buttom {
    width: 25px;
}

.price {
    font-size: 10px;
    margin: 16px;
}

.purchase-buttom,
.delete-buttom {
    color: #000;
    display: inline-block;
    width: 100%;
    font-size: 10px;
    line-height: 30px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.product,
.summary,
.purchase-item-detail {
    width: 80%;
}

.summary {
    margin: auto;
    padding: 16px;
    background-color: #820000;
    color: #f0f0f0;
    font-size: 10px;
    border-radius: 15px;
}

section.summary {
    margin-top: 20px;
}

h4.title-section {
    font-size: 14px;
    margin-bottom: 10px;
}

.info-summary {
    display: inline-block;
    margin: 10px 0;
}

.summary>.purchase-buttom {
    text-decoration: none;
    display: inline-block;
    width: 70%;
    height: 35px;
    background-color: #f0f0f0;
    color: #000;
    border-radius: 0;
}

@media (min-width:481px) {
    div.img-product>img {
        width: 20%;
    }
}

@media (min-width:769px) {
    main {
        margin-top: 130px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
    }

    section.cart {
        width: 70%;
        margin: 0;
        padding-left: 20px;
        align-items: flex-start;
    }

    section.summary {
        width: 30%;
        margin-top: 170px;
    }

    .product,
    .summary,
    .purchase-item-detail {
        width: 90%;
    }

    .img-product {
        width: 200px;
        position: absolute;
        left: -20px;
    }

    h5.name-product {
        font-size: 16px;
        margin-top: 40px;
        text-align: left;
        margin-left: 150px;
    }

    .purchase-quantity {
        font-size: 16px;
        position: absolute;
        right: 20%;
        top: 55px;
    }

    div.purchase-item-detail {
        position: relative;
        height: 175px;
        margin: 25px 0;
    }

    .purchase-item-detail>.purchase-buttom,
    .delete-buttom {
        width: auto;
        font-size: 16px;
        line-height: 32px;
        position: absolute;
        bottom: 40px;
        left: 150px;
        border-radius: 0;
    }

    .purchase-item-detail>.purchase-buttom {
        left: 250px
    }

    .price {
        font-size: 16px;
        position: absolute;
        right: 20px;
        top: 60px;
        margin: 0;
    }

    .summary {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 35px;
        right: 50px;
    }

    .price-summary {
        display: flex;
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .quantity-buttom,
    .quantity {
        font-size: 14px;
    }

    .quantity {
        width: 45px;
    }

    span.price,
    .info-summary {
        font-size: 14px;
        position: static;
    }

    .summary>.purchase-buttom {
        font-size: 14px;
    }
}

@media (min-width:1024px) {
    .summary {
        right: 20px;
    }
}

@media (min-width:1400px) {
    .purchase-item-detail {
        width: 80%;
    }
}