@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #820000;
}

header {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #820000;
}

.logo {
    font-size: 32px;
    color: #fff;
    user-select: none;
}

a.btnHome {
    text-align: center;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.navigation .btnHome {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 1000;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnHome:hover {
    background: #fff;
    color: #000;
}

/* Main Styles */

main {
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #820000;
}

.form {
    max-width: 430px;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
}

.header-2 {
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-align: center;
}

form {
    margin-top: 30px;

}

form .field {
    height: 100% ;
    width: 100%;
    margin-top: 20px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400px;
    border-radius: 6px;
    border: 1px solid #CACACA;
}

.field input {
    padding: 0 15px;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span {
    font-size: 14px;
    font-weight: 400;

}

.form-link a{
    text-decoration: none;
}

main h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.form-create {
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

textarea.form-input {
    width: inherit;
    display: block;
    min-height: 140px;
    padding: 15px;
    border: 1px solid #CACACA;
    border-radius: 6px;
}

@media (min-width: 480px) {
    .form {
        width: 100%;
    }

    header {
        padding: 20px 100px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    .form-create {
        margin-top: 90px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 769px) {
    main {
        margin-top: 40px;
    }
    div.form-create {
        margin-left: 20px;
        margin-right: 20px;
    }
    div.form-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    form .field {
        width: 50%;
        padding: 10px;
    }
    form div.input-description {
        width: 100%;
    }
    form div.button-field {
        width: 40%;
        margin: auto;
        text-align: center;
        align-self: center;
    }
}