<div class="carousel">
    <div class="carousel-items">
            <img src="/images/vinedos.jpg" alt="Vino">
            <img src="/images/logo-ninna_Mesa de trabajo 1.jpg" alt="Vino">
            <img src="/images/vinedos.jpg" alt="Vino">
            <img src="/images/logo-ninna_Mesa de trabajo 1.jpg" alt="Vino">
            <img src="/images/vinedos.jpg" alt="Vino">
            <img src="/images/logo-ninna_Mesa de trabajo 1.jpg" alt="Vino">
    </div>
    <ul class="points">
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
    </ul>
</div>
<script src="/js/carousel.js"></script>