<div class="carousel">
    <div class="carousel-items">
            <img src="/images/carrusel-1-01.jpg" alt="Ofertas">
            <img src="/images/carrusel-2-02.jpg" alt="Sugerencias">
            <img src="/images/carrusel-3-03.jpg" alt="Nuevos ingresos">
            <img src="/images/carrusel-4-04.jpg" alt="Más buscados">
            <img src="/images/vinedos.jpg" alt="Vino">
            <img src="/images/logo-ninna_Mesa de trabajo 1.jpg" alt="Vino">
    </div>
    <ul class="points">
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
        <li class="point"></li>
    </ul>
</div>
<script src="/js/carousel.js"></script>