<footer>
    <h2 class="logo">NINNA</h2>
    <div class="informacion">
        <h4>Categorías</h4>
        <p><a href="#">Vinos</a></p>
        <p><a href="#">Whiskies</a></p>
        <p><a href="#">Spirits</a></p>
        <p><a href="#">Cervezas</a></p>
        <p><a href="#">Promociones</a></p>
    </div>
    <div class="informacion"> 
    <h4> Ayuda </h4>
    <p><a href="">Medios de pago</a></p>
    <p><a href="">Envíos</a></p>
    <p><a href="">Preguntas frecuentes</a></p>
    <p><a href="">Arrepentimiento</a></p> 
    </div>
    <div class="informacion">
        <h4>Contacto</h4>
        <p><a href="">correo@email.com</a></i></p>
        <div>
            <span><a href=""><i class="fab fa-instagram"></i></a></span>
            <span><a href=""><i class="fab fa-facebook"></i></a></span>
            <span><a href=""><i class="fab fa-whatsapp"></i></i></a></span>
        </div>
    </div>
    <div class="informacion">
        <h4>Suscribirse</h4>
        <input type="email" placeholder="Ingresá tu correo">
        <button class="suscripcion">SUSCRIBIRSE</button>
    </div>
</footer>