<header class="header-1">
    <h2 class="logo"><a href="/">NINNA Regaleria</a></h2>
    <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
        <div class="drop-menu">
            <ul>
                <li>
                    <h3>Categorias</h3>
                </li>
                <li><a href="/wines">Vinos</a></li>
                <li><a href="/whiskies">Whiskies</a></li>
                <li><a href="/spirits">Spirits</a></li>
                <li><a href="/beers">Cervezas</a></li>
                <li><a href="/allProducts">Todos los Productos</a></li>
                <% if(locals.user?.role==1) {%>
                    <div><a href="/create">Crear Producto</a></div>
                <% } %>
            </ul>
        </div>
    </div>
    <input type="search" id="search-input" placeholder="Buscar...">
    <a href="/login" class="box-login">
        <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <% if (!locals.isLogged){ %>
                <p>Iniciar Sesion</p>
            <% } else { %>
                <p><%= locals.user.name %></p>
                <% } %>
        </div>
    </a>
    <a href="/productCart" class="box-cart">
        <div class="cart-shopping">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Carrito</p>
        </div>
    </a>
</header>
<header class="header-2">
    <nav class="navigation">
        <div><a href="wines">Vinos</a></div>
        <div><a href="/whiskies">Whiskies</a></div>
        <div><a href="/spirits">Spirits</a></div>
        <div><a href="/beers">Cervezas</a></div>
        <div><a href="/allProducts">Todos los Productos</a></div>
        <% if(locals.user?.role==1) {%>
        <div><a href="/create">Crear Producto</a></div>
        <% } %>
    </nav>
</header>


<script>
    const burgerBtn = document.querySelector('.burger-menu')
    const burgerBtnIcon = document.querySelector('burger-menu i')
    const dropDownMenu = document.querySelector('.drop-menu')

    burgerBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        burgerBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
    }
</script>