<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-login.css">
    <title>Iniciar Sesion</title>
</head>

<body>
    <header>
        <h2 class="logo">NINNA Login</h2>
        <nav class="navigation">
            <a href="/" class="btnHome">Inicio</a>
        </nav>
    </header>

    <main>
        <div class="form login">
            <div class="form-content">
                <div class="header-2">Iniciar Sesion</div>

                <form class="login-form" id="login-form" action="/login" method="post">
                    <% if (locals.errors?.unauthorized) { %>
                        <p class="error"><%= errors.unauthorized.msg %></p>
                    <% }%>
                    <div class="field input-field">
                        <input type="email" name="email" placeholder="Email" class="input" value="<%= locals.oldData?.email && oldData?.email %>">
                        <% if(locals.errors?.email) {%>
                            <p class="error-msg"><%= errors.email.msg %></p>
                        <% } %>
                        <p class="error-msg" id="error-email"></p>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Contrase침a" class="input">
                        <% if(locals.errors?.password) {%>
                            <p class="error-msg"><%= errors.password.msg %></p>
                        <% } %>
                        <p class="error-msg" id="error-password"></p>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Olvid칩 su contrase침a?</a>
                    </div>

                    <div class="button-field">
                        <button type="submit">Iniciar Sesion</button>
                    </div>

                    <div>
                        <input type="checkbox" name="remember" class="input">
                        <label for="remember">Mantener sesi칩n iniciada</label>
                    </div>

                    <div class="form-link">
                        <span>No tienes una cuenta? <a href="/register"
                                class="signup-link">Registrate</a></span>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<script src="/js/login.js"></script>
</html>